
label{
background-color: red;
}

input{
    background-color: yellow;
    /*border-radius: 15px;*/
}

textarea{
    background-color: blue;
}

.form{
    background-color: green;
    /*list-style: none;
    line-height: 50px;*/
}

.contacto-form{
    background-color: orange;
}
.contacto-datos{
    background-color: khaki;
}
header{
    background-color: blueviolet;
}

.hola{
    background-color: brown;
}

.habilidades{
    background-color: chocolate;
}

.cita{
    background-color: cyan;
}

.proyectos{
    background-color: darkorange;
}

.contacto{
    background-color: orangered;
}

footer{
    background-color: red;
}