*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    }

/*main{
    background-color: red;
}*/
:root{
	--detalles: orange;
	--fondos: seashell;
	--oscuro: black;
}

body, .ancla{
    /*padding-top: 70px; /* Relleno superior igual a la altura de la cabecera*/
    width: 100%;
    overflow-x: hidden; /*elimino la barra de desplazamiento horizontal*/
}

h2{
    /*font-size: 50px;*/
    font-size: calc(2em + 1vw);
    /*margin-bottom: 30px;*/
    text-align: center;
    padding-top: 80px; /*NO SACAR -> permite usar anclas*/
    font-family: 'Henny Penny', cursive;
}
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######        <HEADER>        ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
.nav{
    display: flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/
    /*float: right; /*a la derecha*/
    /*margin: 20px; */
    justify-content: flex-end; /*sustituye el float right*/
    background-color: var(--fondo);
    font-family: 'Henny Penny', cursive;
}

.nav a{
    text-decoration: none;
    /*font-size: 30px;*/
    font-size: calc(1em + 1vw);
    color: var(--detalles);
    /*background-color: lawngreen;*/
    }
.nav li{
    margin: 10px;
}

.nav a:hover{
    /*background-color: violet;*/
    border-bottom: 4px solid var(--detalles);      
}

.nav li:nth-child(4){
    background-color: var(--fondos);
    border-radius: 1.8rem;
    text-align: center;
}

#main-header{
    background: #fff;
	height: 70px;
	width: 100%; /* hago que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posiciono la cabecera al lado izquierdo */
	top: 0; /* Posiciono la cabecera pegada arriba */
	position: fixed; /* Hago que la cabecera tenga una posición fija */
}

header{
    box-shadow: 0px 8px 10px 4px var(--detalles);
/*posicion horizontal, posicion vertical, efecto, tamaño*/
}
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************###### <SECCION PRESENTACION> ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/

.hola{
    background-color: var(--fondos);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.hola-presentcion{
    /*margin-top: 15%;*/
    text-align: center;
    width: 50%;
    font-family: 'Mystery Quest', cursive;
}
.hola-presentcion p:first-child{
    /*font-size: 30px;*/
    font-size: calc(1em + 1vw);
}
.hola-presentcion h1{
    color: var(--detalles);
    margin: 3% auto;
    font-weight: bold;
    /*font-size: 60px;*/
    font-size: calc(3em + 1vw);
    font-family: 'Flavors', cursive;
}

.hola-presentcion p:last-of-type{
    /*font-size: 30px;*/
    font-size: calc(1em + 1vw);
    font-style: italic;
}
.hola-boton{
    color: #fff;
    border: none;
    background-color: var(--detalles);
    border-radius: 40px;
    margin: 2.5em;
    padding: 0.5em 2em;
    /*font-size: 20px;*/
    font-size: calc(.5em + 1vw);
}
.hola-boton:hover{
    /*border: 0.1px solid var(--detalles);*/
    background-color: var(--fondos);
    color: var(--detalles);
    border: 1px solid var(--detalles);
}

.hola-boton:active{
    background-color: var(--detalles);
    color: #fff;
}

.principal{
    width: 40%;
    min-width: 20%;
    height: auto;
    margin: 2.5em;
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<*********************>////////////>>>>>>>>>>>>>*/
/*******************###### <SECCION CONOCIMIENTOS> ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<*********************>////////////>>>>>>>>>>>>>*/
.habilidades{
    width: 100%;
    height: 120vh;
    background-color: #F6F7FB;
    text-align: center;
    align-items: center;
}
.habilidades-grilla{
    display: flex;
    /*background-color: royalblue;*/
    padding: 2%;
    /*max-width: 100%;*/
    width: 1060px;
    justify-content: center;
    align-items: center;
}
.class-grupo1{
    width: 530px;
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
}
.class-grupo2{
    width: 530px;
    /*float: left;*/
    display: flex;
    flex-direction: row;
    /*background-color: rebeccapurple;*/
}

.habilidades-texto{
    font-size: 30px;
    margin: 5%;
}

    figure{
    width: 100px;
    height: 90px;
    border: 2px solid var(--detalles);
    border-radius: 5%;
    margin: 2px auto;
    padding: 30px;
    background-color: var(--fondos);
}

figure:hover{
    border: 2px solid var(--fondos);
    /*filter: blur(5px); no le gusta a Jonh*/    
}

.css, .html, .js, .sass, .react, .git{
    /*float: left;*/
    margin: 1%;
    /*position: relative;
    left: 10%;*/
}


/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************########   <SECCION CITA>   ########*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/

.cita{
    /*background-color: purple ;*/
    /*font-size: 60px;*/
    font-size: calc(3em + 1vw);
    text-align: center;
    /*background-image: url(../img/fondocita.jfif);
    background-size: cover;*/
    background-color: var(--fondos);
    padding: 100px;
    font-family: 'Dancing Script', cursive;
}

blockquote::before{
    content: "\201C";
   /* estilo de la cita */ 
    color : var(--detalles);
    font-size: 250px;
    font-family: auto;
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######   <SECCION PROYECTO>   ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
.proyectos{
    width: 100%;
    height: 100vh;
    /*background-color: gold;*/
    padding-left: 5%;
}

.proyectos-imagen{
    float: left;
    border: 1px solid var(--detalles);
    margin: 2%;
    padding: 1%;
    width: 250px;
    height: 200px;
}

.proyectos-imagen:hover{
    box-shadow: 0px 0px 10px 4px var(--detalles); 
}


/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>>>*/
/*******************######   <SECCION CONTACTOS>   ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*.ancla-contacto{
    padding-top: 170px;
}no esta haciendo nada*/

.contacto{
    /*height: 50vh;*/
    border: 1px solid var(--detalles);
    margin: 10%;
    /*padding: 5%;*/
    border-radius: 33px;
    background-color: var(--fondos);
    display: flex;
}
.contacto-datos{
    width: 40%;
    margin-right: 10%;
}

.contacto-datos p{
    text-align: center;
    margin-bottom: 20px;
}
.contacto-datos a{
    text-decoration: none;
    line-height: 30px; /*interlineado*/
}
/*div{ /*no esta funcionado
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######        <FOOTER>        ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
footer{
    background-color: var(--detalles);
    text-align: center;
    padding: 30px;
    width: 100vw;
}
.footer-links {
    display: inline-flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/
    
}
.footer-links a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
}
.footer-links a:hover{
    /*background-color: #fff;
    color: var(--detalles);*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px var(--fondos); 
} 

.footer-redes{
    /*display: inline-flex; me lo pone horizontal*/
    /*list-style-type: none; /*saca los puntitos*/
    margin: 30px;
}

.footer-redes a{
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    color: #fff;
}

.footer-redes a:hover{
    color: var(--fondos);
    box-shadow: 0px 0px 10px 4px var(--fondos); 
}



 @media(min-width: 978px) and (max-width:1199px){
    #main-header{
        display: none;
}
        
        .hola{
            display: flex;
            flex-direction: column;
        }
        .hola-presentcion{
            width: 100%;
        }
.contacto{
    margin: 5% 0px;
}
        .habilidades-grilla{
            display: flex;
            flex-direction: column;
        }
        /*.class-grupo1{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        
        .class-grupo2{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }*/
    }
    
@media(max-width: 977px){
    .habilidades-grilla{
        display: flex;
        flex-direction: row;
        width: auto;
        

    }
    .class-grupo1{
        display: flex;
        flex-direction: column;
}
.class-grupo2{
    display: flex;
    flex-direction: column;
}
.contacto{
    display: flex;
    flex-direction: column;
    border: none;
}

}