*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    }

:root{
	--detalles: orange;
	--fondos: seashell;
    --oscuro: black;
    --violeta_oscuro: #350248;
    --violeta_claro: #7f1ca4;
    --fucsia: #FF2746;
    --azul:#2A53FF;
}
body{
    background-image: url(../img/fondocita3.jfif);
    background-size: contain;
    
    /*padding-top: 70px; /* Relleno superior igual a la altura de la cabecera*/
    width: 100%;
    /*border: 4px solid red;*/
    /*overflow-x: hidden; /*elimino la barra de desplazamiento horizontal*/
}
h2{
    /*font-size: 50px;*/
    font-size: calc(2em + 1vw);
    /*margin-bottom: 30px;*/
    text-align: center;
    padding-top: 80px; /*NO SACAR -> permite usar anclas*/
    font-family: 'Bungee Shade', cursive;;
    color: #3f0889;
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######        <HEADER>        ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
.nav{
    display: flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/
    /*float: right; /*a la derecha*/
    /*margin: 20px; */
    justify-content: flex-end; /*sustituye el float right*/
    /*background-color: var(--fondo); */
    margin: 1%;
    font-family:Arial, Helvetica, sans-serif;
}
.nav a{
    text-decoration: none;
    /*font-size: 30px;*/
    font-size: calc(0.5em + 1vw);
    color: #fff;
    /*background-color: lawngreen;*/
    /*background-image: url(../img/fondocita4.jfif);
    background-size: cover;*/
    background-color:var(--fucsia);
    border-radius: 15px;
    padding: 5px;
    }
.nav li{
    margin-right: 25px;
}
.nav a:hover{
    /*background-color: violet;*/
    border-bottom: 4px solid violet;      
}
.nav li:nth-child(4){
    background-color:#2B6AFE ;
    border-radius: 1.8rem;
    text-align: center;
}
#main-header{
    background-image: url(../img/fondocita3.jfif);
	height: 70px;
	width: 100%; /* hago que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posiciono la cabecera al lado izquierdo */
	top: 0; /* Posiciono la cabecera pegada arriba */
	position: fixed; /* Hago que la cabecera tenga una posición fija */
    z-index: 1000;/*para que las imagenes queden por debajo*/
}
#btn-menu{
    display: none;
}
/*header{
    
    /*box-shadow: 0px 8px 10px 4px #E5FF18;*/
/*posicion horizontal, posicion vertical, efecto, tamaño*/

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
header label:hover{
    cursor: pointer;
    background-color: var(--detalles);

}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************###### <SECCION PRESENTACION> ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/

.hola{
    background-color: #ffe6eb;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 90%; 
}
.hola-presentcion{
    /*margin-top: 15%;*/
    text-align: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.hola-presentcion p:first-child{
    /*font-size: 30px;*/
    font-size: calc(1em + 1vw);
}
.hola-presentcion h1{
    color: #FF2746;
    margin: 3% auto;
    font-weight: bold;
    /*font-size: 60px;*/
    font-size: calc(5em + 1vw);
    /*font-family: 'Flavors', cursive;*/
    font-family: 'Dancing Script', cursive;
}
.hola-presentcion p:last-of-type{
    /*font-size: 30px;*/
    font-size: calc(1em + 1vw);
    /*font-style: italic;*/
}
.hola-boton{
    color: #fff;
    border: 1px solid var(--fucsia);
    background-color: #FF2746;
    border-radius: 40px;
    margin: 2.5em;
    padding: 0.5em 2em;
    /*font-size: 20px;*/
    font-size: calc(.5em + 1vw);
    outline: none;/*saca el borde al hacer click*/
}
.hola-boton:hover{
    /*border: 0.1px solid var(--detalles);*/
    background-color: var(--fondos);
    color: var(--fucsia);
}
.hola-boton:active{
    background-color: var(--detalles);
    color: #fff;
}
.principal{
    width: 40%;
    min-width: 20%;
    height: auto;
    /* margin: 2.5em; */
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<*********************>////////////>>>>>>>>>>>>>*/
/*******************###### <SECCION CONOCIMIENTOS> ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<*********************>////////////>>>>>>>>>>>>>*/
.habilidades{
    width: 100%;
    /*height: 120vh;*/
    height: 100vh;
    background-color:var(--fondos);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;    
}
.habilidades-texto{
    font-size: 25px;/*no funciona*/
    width: auto;
    color: #FA410A;
}
.habilidades-grilla{
    display: flex;
    padding: 2%;
    /*max-width: 100%;*/
    width: auto;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url(../img/fondocita3.jfif);

}
.class-grupo1{
    width: 520px;
    display: flex;
    flex-direction: row;
    /*background-image: url(../img/fondocita3.jfif);*/
}
.class-grupo2{
    width: 520px;
    display: flex;
    flex-direction: row;
    /*background-image: url(../img/fondocita3.jfif);*/

}
.habilidades-texto{
    font-size: 40px;
    margin: 5%;
    width: 50%;
}
.grilla-fig{
width: 100px;
height: auto;
border: 2px solid var(--detalles);
border-radius: 5%;
margin: 2px auto;
padding: 30px;
background-color: var(--fondos);


}
.grilla-fig:hover{
    /*border: 2px solid var(--fondos);*/
    /*filter: blur(5px); no le gusta a Jonh*/    
    box-shadow: 0px 0px 10px 4px var(--detalles);
}
.css, .html, .js, .sass, .react, .git{
    /*float: left;*/
    margin: 1%;
    /*position: relative;
    left: 10%;*/
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************########   <SECCION CITA>   ########*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/

.cita{
    background-color: var(--fondos);
    font-size: calc(4em + 1vw);
    text-align: center;
    color: var(--fucsia);
    opacity: 80%;
    padding: 90px;
    font-family: 'Dancing Script', cursive;
}
.cita p{
    color: var(--violeta_claro);
    font-size: calc(.5em + 1vw);
    margin-top: 5%;
}
blockquote::before{
    content: "\201C";
   /* estilo de la cita */ 
    /*content: open-quote;*/
    display: block;
    line-height: 0;
    color : var(--violeta_claro);
    font-size: 250px;
    font-family: sans-serif;
    /*text-align: center;/*no esta funcionando*/
    /*background-color: red;*/
    margin-top: 5%;
    /*position: absolute;
    right: 50%;*/
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######   <SECCION PROYECTO>   ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
.proyectos{
    width: 100%;
    height: 110vh;
    /*height: 80rem;*/
    /*padding-left: 5%;
    /*flex-direction: column;*/
    /*display: flex;*/
    background-color: var(--fondos);
}
.proyectos-grilla{
    /*justify-content: center;*/
    /*border: 5px solid blue;*/
    width: 81%;
    /*height: 75%;*/
    height: auto;
    margin: 0 auto;
}
.proyectos-card{
    border: 1px solid var(--detalles);
    width: 255px;
    height: 245px;
    float: left; /*uno al lado del otro*/
    margin: 2%;
    /*padding: 1%;*/
    /*display: flex;*/
}
.proyectos-imagen{
    /*float: left; */
    /*border: 1px solid var(--detalles);*/
    margin: 0;
    /*padding: 1%;*/
    width: 255px;
    height: 245px;
    justify-content: center;
    align-items: center;
}
.oculto{
    display: none;
    color: var(--detalles);
    font-size: 30px;
    text-align: center; 
    font-weight: bold;
    /*font-family: 'Bungee Shade', cursive;*/
    font-family: 'Rye', cursive;    
}
a:hover .oculto{
    display: flex;
    position: relative;
    /*bottom: 5px;*/
    /*left: 40%;*/
    /*right: 5px;*/
    top:-180px;
    align-items: center;
    justify-content: center;
}
.proyectos-imagen:hover{
    filter: blur(12px);
    /*box-shadow: 0px 0px 10px 4px var(--detalles);*/ 
}
.oculto:hover{
    opacity: 0;/*desaparece el texto al pasar el mouse por arriba*/
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>>>*/
/*******************######   <SECCION CONTACTOS>   ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*.ancla-contacto{
    padding-top: 170px;
}no esta haciendo nada*/

.contacto{
    width: 85%;
    /*height: 50px;*/
    border: 1px solid var(--detalles);
    margin: 10% auto 7% auto;
    border-radius: 33px;
    /*background-color:#28FEF3;*/
    background-color: #F7CDE1;
    display: flex;
    /*flex-wrap: wrap;*/
}
.contacto-datos{
    /*width: 40%;*/
    /*height: 600px; /*importante para q no se rompa*/
    /*margin-right: 10%;*/
    flex-grow: 0; 
}
.contacto-datos p{
    text-align: center;
    margin: 40px;
    font-size: 25px;
    /*width: 80%;*/
}
.contacto-datos a{
    text-decoration: none;
    line-height: 50px; /*interlineado*/
    color: var(--fucsia);
    margin: 15%;
    font-size: 28px;
}
.contacto-datos a i{
    color: var(--fucsia);
    /*border: 1px solid var(--fondos);*/
    border-radius: 50%;
    padding: 1.5%;
}
.contacto-datos a:hover i{
    /*border: 1px solid var(--detalles);*/
    border-radius: 50%;
    padding: 1.5%;/*igual al de arriba para que no se mueva*/
    background-color: var(--fucsia);
    color: #fff;
}
/*.form*/
.contacto-form{
    /*width: 60%;*/
    height: auto;
    /*display: flex;
    flex-direction: column;*/
    flex-grow: 1; 
    text-align: center;
}
form label{
    display: block;/*me los baja*/
    margin: 15px 0px 10px 5px;
    font-weight: bold;
}
.nombre-apellido{
    display: flex; /*todo en una linea*/
    /* justify-content: space-between; */
    /* flex-direction: column; */
    width: 97%;
    height: auto;
}
.nombre-apellido input{
    height: 15px;
}
/*.nombre-apellido label{
    display: flex; 
    justify-content: space-between;
} */
input, textarea{
    border-radius: 25px;
    background-color: floralwhite;
    border: 1px solid#fff;
    padding: 10px 15px;
    width: 90%;
    resize: none;
    /*color: red;
    border: 0;
    font-size: 18px;*/
    outline: 0;
}
.contacto-enviar{
    border-radius: 25px;
    background-color: var(--fucsia);
    padding: 15px 30px;
    color: #fff;
    border: 1px solid var(--fucsia);
    font-size: 18px;
    align-items: center;
    margin: 2%;
    outline: none;
}
.contacto-enviar:hover{
    background-color: #fff;
    color: var(--fucsia);
}
/*div{ /*no esta funcionado
    background-color: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.label_name{
    display: block;
}

/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
/*******************######        <FOOTER>        ######*******************/
/*<<<<<<<<<<<<<<<\\\\\\\\\\<********************>////////////>>>>>>>>>>>>>*/
footer{
    /*background-color: var(--detalles);*/
    background-color:var(--violeta_oscuro);
    text-align: center;
    padding: 30px;
    /* width: 100; */
}
.footer-links {
    display: inline-flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/
}
.footer-links a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
}
.footer-links a:hover{
    /*background-color: #fff;
    color: var(--detalles);*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px var(--fondos); 
    padding: 2%;
} 
.footer-redes{
    /*display: inline-flex; me lo pone horizontal*/
    /*list-style-type: none; /*saca los puntitos*/
    margin: 30px;
}
.footer-redes a{
    text-decoration: none;
    margin: 10px;
    font-size: 30px;
    color: #fff;
}
.footer-redes a:hover{
    color: var(--fondos);
    box-shadow: 0px 0px 10px 4px var(--fondos);
}


